.misc-container {
    padding: $global-padding 15px;

    li {
        list-style-type: none;
        margin-bottom: 40px;

        ul,ol {
            li {
                margin-bottom: 2px;
                list-style-type: disc;
                list-style-position: inside;
            }
        }

        ol {
            li {
                list-style-type: inherit;
            }
        }
    }

    h4 {
        font-size: 22px;
        margin-bottom: 20px;
    }

    p {
        color: $brand3;
    }
}