/* Global Font Settings */
$global-font-size: 14px !default;
$global-line-height: 22px !default;
$global-font-family: Helvetica, Arial, sans-serif !default;

/* Global Site Container Settings */
$global-container-width: 1280px !default;

/* Global Paddings */
$global-padding: 50px;

/* Header Heights */
$mobile-header--height: 170px;
$tablet-header--height: 120px;
$desktop-header--height: 260px;