.product-carousel {
	display: block;
	position: relative;
	width: 100%;
	height: auto;
	padding: $global-padding 0;

	&.slick-initialized {
		display: flex!important;
		visibility: visible;
	}

	li {
		text-align: center;
		padding: 15px;
		height: 100%;

		&:hover {
			.product-details {
				background-color: $white;
				@include prod-shadow();
			}

			.btn {
				background-color: $brand1;
				border-color: $brand1;
				color: $white;
			}
		}
	}

	.product-details {
		display: flex;
		flex-direction: column;
		padding: 10px;
		transition: all .3s ease;

		img {
			border: 1px solid #ccc;
		}

		h4 {
			margin-top: 30px;
			min-height: 70px;
			font-size: $product-carousel--title;

			a {
				text-decoration: none;
				&:hover {
					color: $brand1;
				}
			}
		}

		.price {
			display: block;
			position: relative;
			margin: 20px 0;
			font-weight: 800;
			color: $brand1;
			font-size: $product-carousel--price;
		}

		.btn {
			align-self: center;
			text-decoration: none;
			text-transform: uppercase;
			width: 100%;
			padding: 15px 0!important;
		}
	}
}

.prod-carousel {
	padding: 0 $global-padding;

	.slick-prev, .slick-next {
		background-repeat: no-repeat;
		background-position: center;
		background-size: 16px 30px;
		width: 20px;
		height: 30px;
	}

	.slick-next {
    	right: 18px;
    	background-image: url('images/icons/next-arrow.png');
	}

	.slick-prev {
    	left: 18px;
    	background-image: url('images/icons/prev-arrow.png');
	}
}

@media (min-width: 768px) {

	.product-carousel {

		.product-details {
			h4 {
				font-size: 12px;
				line-height: 18px;
				min-height: 40px;
			}
		}

		.slick-prev {
	    	left: 24px;
		}

		.slick-next {
	    	right: 24px;
		}
	}
}

@media (min-width: 1200px) {

	.product-carousel {

		.product-details {
			h4 {
				font-size: $product-carousel--title;
				min-height: 70px;
				line-height: 22px;
			}
		}

		.slick-prev {
	    	left: 18px;
		}

		.slick-next {
	    	right: 18px;
		}
	}
}