// Breakout of a parent element's `max-width` to fill the entire viewport width.
@mixin breakout() {
  position: relative !important;
  width: 100vw !important;
  left: 50% !important;
  margin-left: -50vw !important;
}

@mixin prod-shadow() {
	-webkit-box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.35);
	-moz-box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.35);
	box-shadow: 0px 0px 12px 1px rgba(0,0,0,0.35);
}